<h1>Edit Meeting Room</h1>

<%= form_with model: @meeting_room, local: true do |f| %>
  <div>
    <%= f.label :room_name,style:"font-size:25px; font-family:Times New Roman; color:black;  " %><br>
    <%= f.text_field :room_name %>
  </div>

  <div>
    <%= f.label :capacity,style:"font-size:25px; font-family:Times New Roman; color:black;  "  %><br>
    <%= f.number_field :capacity %>
  </div>

  <div>
    <%= f.label :location,style:"font-size:25px; font-family:Times New Roman; color:black;  "  %><br>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.submit "Update Room",style: "background-color: skyblue; color: black; border-radius: 15px; padding: 10px 20px; margin-top:10px; margin-bottom:10px;" %>
  </div>
<% end %>

<%= link_to "Back to Rooms", meeting_rooms_path %>
